<nav class="container-fluid">
  <div class="row">
    <div class="col-4 d-flex align-items-center">
      <div class="row p-2 pl-md-2 pl-xl-4">
        <div class="col-8 col-md-4 col-xl-2 p-0 d-flex justify-content-start">
          <img class="img-fluid" src="https://goadlercric.s3.ap-south-1.amazonaws.com/Logos/NameAndLogo+(1).png" alt="">
        </div>
      </div>
    </div>
    <div class="col-8 d-flex justify-content-end pe-2">
      <div class="row-fluid gap-2 d-flex justify-content-end">
        <div class="col-2 p-0 d-flex gap-2 align-items-center justify-content-center">
          <i class="fa-solid fa-house fs-5"></i>
          <span class="d-none d-xl-block">Home</span>
        </div>
        <div class="col-2 p-0 d-flex gap-2 align-items-center justify-content-center">
          <i class="fa-regular fa-bell fs-5"></i>
          <span class="d-none d-xl-block">Notification</span>
        </div>
        <div class="col-2 p-0 d-flex gap-2 align-items-center justify-content-center">
          <i class="fa-regular fa-message fs-5"></i>
          <span class="d-none d-xl-block">Messages</span>
        </div>
        <div class="col-2 p-1 p-xl-2 d-flex align-items-center">
          <div class="row-fluid d-flex align-items-center gap-2">
            <div class="col-12 col-md-8 col-xl-4 p-0">
              <img class="img-fluid profilePicture" src="https://goadlercric.s3.ap-south-1.amazonaws.com/Logos/GokulKrishDP.png" alt="">
            </div>
            <span class="d-none d-xl-block">Gokulkrishna</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>