<div class="container-fluid p-0">
  <nav class="row-fluid d-flex justify-content-between nav">
    <div class="d-flex col p-2 ps-xl-4">
      <div class="row d-flex align-items-center g-0 ps-xl-4 ps-3">
        <img class="col-5 col-md-4 col-xl-2 img-fluid cursor p-0"
          src="https://goadlercric.s3.ap-south-1.amazonaws.com/Logos/NameAndLogo (1).png" alt="">
      </div>
    </div>
    <div class="col d-flex justify-content-end">
      <div class="row d-flex">
        <span class="col-auto d-flex align-items-center">
          <span class="d-none d-md-block">Home</span>
          <span class="material-symbols-outlined">
            home
            </span>
        </span>
        <span class="col-auto d-flex align-items-center">
          <span class="d-none d-md-block">Messages</span>
          <span class="material-symbols-outlined">
            mark_chat_unread
            </span>
        </span>
        <span class="col d-flex">
          <span class="d-none d-md-block">Gokulkrishna</span>
          <div class="row">
            <div class="col">
            <img class="displayPicture img-fluid" src="https://goadlercric.s3.ap-south-1.amazonaws.com/Logos/GokulKrishDP.png" alt="">
            </div>
          </div>
        </span>
      </div>
    </div>
  </nav>
</div>