<nav class="container-fluid">
  <div class="row">
    <div class="col-4 d-flex align-items-center">
      <div class="row p-2 pl-md-2 pl-xl-4">
        <div class="col-8 col-md-4 col-xl-2 p-0 d-flex justify-content-start">
          <img class="img-fluid" src="https://goadlercric.s3.ap-south-1.amazonaws.com/Logos/NameAndLogo+(1).png" alt="">
        </div>
      </div>
    </div>
    <div class="col-8 bg-warning d-flex justify-content-end border pe-4">
      <div class="row bg-danger">
        <div class="col p-0 border">Home</div>
        <div class="col p-0 border">Messages</div>
        <div class="col p-0 border">DP</div>
      </div>
    </div>
  </div>
</nav>