<div class="rounded-lg mt-4 flex flex-col bg-gray-50 items-center">
  <app-new-comment [postId]="postId" (newPostEvent)="newPostSuccess($event)" class="w-11/12 mb-2"></app-new-comment>
  <div
    class="text-black flex p-2 md:p-3 gap-2 border-b border-t w-11/12"
    *ngFor="let post of posts"
  >
    <span class="w-10">
      <img [src]="profilePicture" alt="" class="rounded-full" />
    </span>

    <div class="w-full h-auto">
      <!-- card-title -->
      <div class="flex gap-2">
        <span class="">
          <!-- Name and time stamp -->
          <span class="flex items-center gap-2">
            <span class="md:text-sm">{{ name }}</span>
            <span
              class="text-xs font-light md:font-normal md:text-sm text-stone-500"
              >{{ post.timestamp | timeago }}</span
            >
          </span>

          <!-- User name -->
          <span class="">
            <span class="text-sm font-light">@{{ userName }}</span>
          </span>
        </span>
      </div>

      <div class="flex gap-2 justify-between">
        <div class="">
          <!--  content -->
          <span
            *ngIf="post.content.text"
            class="break-words whitespace-pre-line"
          >
            <div class="text-xs font-normal py-2">{{
              post.content.text
            }}</div>
          </span>

          <!-- image -->
          <img
            *ngIf="post.content?.multimedia[0]"
            [src]="post.content?.multimedia[0]"
            alt="Post Image"
            class="rounded-md"
          />
        </div>

        <!-- reactions -->
        <div class="md:pt-3 pt-2 flex justify-end items-end">
          <!-- favourite -->
          <div
            class="gap-1 flex md:gap-1 justify-center items-center cursor-pointer actionArea"
            (click)="toggleLike(post?.engagement?.liked, post._id)"
          >
            <span
              class="text-lg lg:text-xl material-symbols-rounded"
              [ngClass]="{ fillIcon: post?.engagement?.liked }"
            >
              favorite
            </span>
            <span class="text-sm lg:text-md font-normal">{{
              post.actions.likes || ""
            }}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
