<div class="pt-4 flex gap-4">
  <div class="w-10">
    <img [src]="profilePicture" alt="Profile Image" class="rounded-full" />
  </div>
  <form
    class="w-full flex flex-col gap-1"
    [formGroup]="postForm"
    (ngSubmit)="onSubmit()"
  >
    <div class="">
      <textarea
        formControlName="text"
        name=""
        id=""
        class="rounded-lg w-full p-2 text-black"
        rows="3"
        placeholder="Post your reply"
      ></textarea>
      <mat-error
        *ngIf="(postForm.get('text')?.invalid && (postForm.get('text')?.dirty || postForm.get('text')?.touched) && postForm.get('text')?.errors?.['maxlength'])"
        >Maximum 100 characters are allowed</mat-error
      >
    </div>

    <span class="">
      <span *ngIf="selectedImage" class="flex gap-1">
        <img
          [src]="selectedImage"
          alt="Selected Image"
          class="w-2/4 rounded-md bg-red-500"
        />
        <span
          class="material-symbols-outlined cursor-pointer"
          (click)="onCloseImage()"
        >
          cancel
        </span>
      </span>
    </span>
    <mat-error class="" *ngIf="postFailed">Post failed try again</mat-error>
    <mat-error class="" *ngIf="isPostFailedMessage">{{ postFailedMessage }}</mat-error>

    <span *ngIf="postSuccess" class="flex gap-2 items-center text-lime-400">
      <span> Post success </span>
      <span class="material-symbols-rounded text-lg"> check_circle </span>
    </span>
    <input
      type="file"
      (change)="onImageSelected($event)"
      accept="image/*"
      class="hidden"
      #fileInput
    />
    <div class="flex  justify-between items-end">
      <span
        class="material-symbols-rounded cursor-pointer"
        (click)="clickInput()"
      >
        image
      </span>
      <button
        [disabled]="
          !selectedImage && postForm.get('text')?.hasError('required')
        "
        type="submit"
        mat-button
        class="postButton"
      >
        {{ isPosting ? "Posting..." : "Post" }}
      </button>
    </div>
  </form>
</div>
