<div class="flex justify-center">
  <div class="h-auto w-full flex justify-center">
    <!-- side -->
    <div *ngIf="isLogin" class="w-1/12 hidden md:block lg:w-3/12">
      <app-side-nav></app-side-nav>
    </div>

    <!-- top + router -->
    <div class="w-full  h-auto">
        <!-- top -->
        <app-top-nav *ngIf="isLogin"></app-top-nav>

        <!-- router -->
        <router-outlet></router-outlet>
    </div>

    <!-- right -->
    <div *ngIf="isLogin" class="w-5/12 hidden lg:block ">
      <app-right-area></app-right-area>
    </div>

    <!-- botton -->
    <app-nav *ngIf="isLogin"></app-nav>
  </div>
</div>