<div class="pt-5 loginArea d-flex justify-content-center align-items-center">
  <div class="container mt-5 d-flex flex-column">
    <div class="row d-flex justify-content-center mb-4">
      <div class="col-8 col-xl-6 d-flex justify-content-center fw-medium"><span class="fs-3">Log in to continue</span>
      </div>
    </div>
    <form action="" [formGroup]="logInForm" (ngSubmit)="onSubmit()">

      <!-- Email -->
      <div class="row d-flex justify-content-center">
        <div class="col-8 col-xl-6 d-flex flex-column p-0">
          <p class="m-0">
            <mat-form-field appearance="fill" hideRequiredMarker="true">
              <mat-label>Email</mat-label>
              <input matInput formControlName="email">
              <mat-error
                *ngIf="(logInForm.get('email')?.invalid && (logInForm.get('email')?.dirty || logInForm.get('email')?.touched)) && (logInForm.get('email')?.errors?.['required'])"
                class="p-0">Email cannot be empty</mat-error>
              <mat-error
                *ngIf="(logInForm.get('email')?.invalid && (logInForm.get('email')?.dirty || logInForm.get('email')?.touched)) && (logInForm.get('email')?.errors?.['email'])">Please
                input email in the correct format</mat-error>
            </mat-form-field>
          </p>
        </div>
      </div>

      <!-- Password -->
      <div class="row d-flex justify-content-center">
        <div class="col-8 col-xl-6 d-flex justify-content-center p-0">
          <mat-form-field hideRequiredMarker="true">
            <mat-label>Password</mat-label>
            <input matInput [type]="hide ? 'password' : 'text'" formControlName="password">
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
              [attr.aria-pressed]="hide">
              <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
            <mat-error
              *ngIf="(logInForm.get('password')?.invalid && (logInForm.get('password')?.dirty || logInForm.get('password')?.touched)) && (logInForm.get('password')?.errors?.['required'])"
              class="p-0">Password cannot be empty</mat-error>
            <mat-error
              *ngIf="(logInForm.get('password')?.invalid && (logInForm.get('password')?.dirty || logInForm.get('password')?.touched)) && (logInForm.get('password')?.errors?.['pattern'])">The
              input password does not seem to be in the correct format</mat-error>
          </mat-form-field>
        </div>
      </div>

      <!-- Submit -->
      <div class="row d-flex justify-content-center">
        <div class="col-8 col-xl-6 p-0">
          <button mat-raised-button type="submit" [disabled]="!logInForm.valid" [ngStyle]="{'opacity': (!logInForm.valid) ? '0.5' : '1'}">Log in</button>
        </div>
      </div> 
    </form>
  </div>
</div>