$cricBlue: #1A2938;

mat-form-field {
  width: 100%;
  padding: 0px !important;
}

mat-form-field input {
  font-weight: 500;
}

[mat-raised-button] {
  width: 100%;
  background-color: $cricBlue !important;
  color: white !important;
  height: 40px !important;
}



.errorMessage {
  color: rgb(223, 64, 64)
}

.logIn {
  color: white !important;
  text-decoration: underline;
}

.forgotPassword {
  color: rgb(124, 124, 124);
}

.forgotPassword:hover {
  color: rgb(255, 255, 255);
}


@keyframes gradient {
  0% {
      background-position: 0% 50%;
  }
  100% {
      background-position: 100% 50%;
  }
}