$cricBlue: #1A2938;

mat-form-field {
  width: 100%;
}

mat-form-field input {
  font-weight: 500;
}

[mat-raised-button] {
  width: 100%;
  background-color: $cricBlue !important;
  color: white !important;
  
}

.otpArea {
  height: 60vh;
}

.continueButton {
  background-color: rgb(32, 161, 43) !important;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

$cricBlue: #1A2938;

mat-form-field {
  width: 100%;
}

mat-form-field input {
  font-weight: 500;
}

[mat-raised-button] {
  width: 100%;
  background-color: $cricBlue !important;
  color: white !important;
  
}

.errorMessage {
  color: rgb(223, 64, 64)
}

.logIn {
  color: white !important;
  text-decoration: underline;
}



.disabledButton {
  color: gray !important;
}