<div class="relative">
  <!-- Title bar - notifications -->
  <div
    class="flex items-center gap-2 justify-start p-2 text-lg sticky top-16 titleBar"
  >
    <!-- <div class="material-symbols-rounded text-xl"> notifications </div> -->
    <div class="w-14 md:w-16">
      <img [src]="notificationIcon" alt="" />
    </div>
    <div class="text-xl">Notifications</div>
  </div>
  <div class="flex justify-center">
    <div class="">
      <mat-spinner [diameter]="40" *ngIf="spinner"></mat-spinner>
    </div>
  </div>
  <!-- Notifications list -->
  <div *ngFor="let notification of notifications; let last = last">
    <ng-container *ngIf="notification.type === 'like' || notification.type === 'comment'">
      <div
        class="p-4 flex justify-between items-center border-t cursor-pointer border-slate-600"
        [ngClass]="[notification.read ? '' : 'bg-slate-800']"
        [class.border-b]="last"
        (click)="toRead(notification._id, notification.read)"
        [routerLink]="['/user/' + notification.userName + '/' + notification.postId]"
      >
        <div class="flex gap-2 items-center">
          <div class="w-8">
            <img
              [src]="getProfilePicture(notification)"
              alt=""
              class="rounded-full"
            />
          </div>
  
          <div class="p-2" *ngIf="notification.type === 'like'">
            {{'@'}}{{ notification.userName }} liked your post
          </div>
          <div class="p-2" *ngIf="notification.type === 'comment'">
            {{'@'}}{{ notification.userName }} commented on your post
          </div>
        </div>
  
        <div>
          {{ notification.timeStamp | timeago }}
        </div>
      </div>
    </ng-container>
    <ng-container *ngIf="notification.type === 'requestReceived' || notification.type === 'requestAccepted'">
      <div
        class="p-4 flex justify-between items-center border-t cursor-pointer border-slate-600"
        [ngClass]="[notification.read ? '' : 'bg-slate-800']"
        [class.border-b]="last"
        (click)="toRead(notification._id, notification.read)"
        [routerLink]="['/user/' + notification.userName]"
      >
        <div class="flex gap-2 items-center">
          <div class="w-8">
            <img
              [src]="getProfilePicture(notification)"
              alt=""
              class="rounded-full"
            />
          </div>
  
          <div class="p-2" *ngIf="notification.type === 'requestReceived'">
            {{'@'}}{{ notification.userName }} sent you a friend request
          </div>
          <div class="p-2" *ngIf="notification.type === 'requestAccepted'">
            {{'@'}}{{ notification.userName }} accepted your friend request
          </div>
        </div>
  
        <div>
          {{ notification.timeStamp | timeago }}
        </div>
      </div>
    </ng-container>
  </div>
  
  <div *ngIf="notifications.length === 0" class="flex flex-col items-center">
    <div class="w-6/12 mt-20">
      <img [src]="noNotificationIcon" alt="" />
    </div>
    <div class="text-base">No notifications to show</div>
  </div>
</div>
