<div class="relative">
  <!-- Title bar - notifications -->
  <div
    class="flex items-center justify-start p-4 text-lg sticky top-16 titleBar"
  >
    <!-- <div class="material-symbols-rounded text-xl"> notifications </div> -->
    <div class="w-20">
      <img [src]="notificationIcon" alt="" />
    </div>
    <div class="text-lg">Notifications</div>
  </div>
  <div class="flex justify-center">
    <div class="">
      <mat-spinner [diameter]="40" *ngIf="spinner"></mat-spinner>
    </div>
  </div>
  <!-- Notifications list -->
  <div
    *ngFor="let notification of notifications; let last = last"
    class="p-4 flex justify-between items-center border-t cursor-pointer border-slate-600"
    [ngClass]="[notification.read ? '' : 'bg-slate-800']"
    [class.border-b]="last"
    (click)="toRead(notification._id)"
    [routerLink]="[
      '/user/' + notification.userName + '/' + notification.postId
    ]"
  >
    <div class="flex gap-2 items-center">
      <div class="w-8">
        <img
          [src]="getProfilePicture(notification)"
          alt=""
          class="rounded-full"
        />
      </div>

      <div class="p-2" *ngIf="notification.type === 'like'">
        {{ notification.userName }} liked your post
      </div>
      <div class="p-2" *ngIf="notification.type === 'comment'">
        {{ notification.userName }} commented on your post
      </div>
    </div>

    <div>
      {{ notification.timeStamp | timeago }}
    </div>
  </div>
  <div *ngIf="notifications.length === 0" class="flex flex-col items-center">
    <div class="w-8/12">
      <img [src]="noNotificationIcon" alt="" />
    </div>
    <div class="text-base">No notifications to show</div>
  </div>
</div>
