<div class="container">
  <div class=" flex justify-center mt-5">
    <img class="img-fluid w-2 md:w-44"
  src="https://goadlercric.s3.ap-south-1.amazonaws.com/Logos/NameAndLogo+(1).png" alt="">
  </div>

  <div class="row flex justify-center items-center">
    <div class="pt-5 col col-md-8 loginArea d-flex flex-column justify-content-center align-items-center">
      <div class="container mt-5 d-flex flex-column">
        
        <div class="row d-flex justify-content-center mb-4">
        

          <div class="col col-xl-6 d-flex justify-content-center fw-medium"><span class="text-base md:text-lg">Forgot password? Enter email to
              continue,</span>
          </div>
        </div>
        <form [formGroup]="logInForm" (ngSubmit)="onSubmit()">
          <div *ngIf="errorMessage" class="w-100 d-flex justify-content-center gap-2 errorMessage fs-6 mb-1">
            <span>{{errorMessage}}.</span><a routerLink="/user/sign-up" class="logIn"> Sign up?</a> </div>

          <!-- Email -->
          <div class="row d-flex justify-content-center">
            <div class="col-10 col-xl-6 d-flex flex-column p-0">
              <p class="m-0">
                <mat-form-field appearance="fill" hideRequiredMarker="true">
                  <mat-label>Email</mat-label>
                  <input matInput formControlName="email">
                  <mat-error
                    *ngIf="(logInForm.get('email')?.invalid && (logInForm.get('email')?.dirty || logInForm.get('email')?.touched)) && (logInForm.get('email')?.errors?.['required'])"
                    class="p-0">Email cannot be empty</mat-error>
                  <mat-error
                    *ngIf="(logInForm.get('email')?.invalid && (logInForm.get('email')?.dirty || logInForm.get('email')?.touched)) && (logInForm.get('email')?.errors?.['email'])">Please
                    input email in the correct format</mat-error>
                </mat-form-field>
              </p>
            </div>
          </div>

          <!-- Submit -->
          <div class="row d-flex justify-content-center">
            <div class="col-10 col-xl-6 p-0">
              <button mat-raised-button type="submit" [disabled]="!logInForm.valid"
                [ngStyle]="{'opacity': (!logInForm.valid) ? '0.5' : '1'}"> {{ isLogging ? 'Verifying...' : 'Continue'
                }}</button>
            </div>
          </div>

          <span class="row-fluid d-flex justify-content-center mt-2 gap-1">
            <span class="col-auto d-flex justify-content-end m-0 p-0">Remember your password?</span>
            <a class="col-auto d-flex justify-content-start m-0 p-0" routerLink="/user/log-in">Log in!</a>
          </span>
        </form>
      </div>
    </div>
  </div>
</div>