<div class="flex justify-center">
  <div class="flex flex-col items-center justify-center min-h-screen p-4 md:w-8/12 lg:w-3/12">
      <!-- Logo -->
  <div class="w-32 mb-16">
    <img
      src="https://goadlercric.s3.ap-south-1.amazonaws.com/Logos/NameAndLogo+(1).png"
      alt=""
    />
  </div>

        <div class="text-base md:text-lg mb-4"
          >Forgot password? Enter email to continue,</div
        >
    <form [formGroup]="logInForm" (ngSubmit)="onSubmit()" class="w-full">
      <div
        *ngIf="errorMessage"
        class="w-100 d-flex justify-content-center errorMessage"
      >
        <span>{{ errorMessage }}.</span
        ><a routerLink="/user/auth/sign-up" class="logIn"> Sign up?</a>
      </div>

      <!-- Email -->
      <div class="flex justify-center ">
          <p class="m-0 w-full">
            <mat-form-field appearance="fill" hideRequiredMarker="true">
              <mat-label>Email</mat-label>
              <input matInput formControlName="email" />
              <mat-error
                *ngIf="(logInForm.get('email')?.invalid && (logInForm.get('email')?.dirty || logInForm.get('email')?.touched)) && (logInForm.get('email')?.errors?.['required'])"
                class="p-0"
                >Email cannot be empty</mat-error
              >
              <mat-error
                *ngIf="(logInForm.get('email')?.invalid && (logInForm.get('email')?.dirty || logInForm.get('email')?.touched)) && (logInForm.get('email')?.errors?.['email'])"
                >Please input email in the correct format</mat-error
              >
            </mat-form-field>
          </p>
      </div>

      <!-- Submit -->
      <div class="row d-flex justify-content-center mb-2">
        <div class="col-10 col-xl-6 p-0">
          <button
            mat-raised-button
            type="submit"
            [disabled]="!logInForm.valid"
            [ngStyle]="{ opacity: !logInForm.valid ? '0.5' : '1' }"
          >
            {{ isLogging ? "Verifying..." : "Continue" }}
          </button>
        </div>
      </div>

      <span class="flex justify-center mt-2 gap-1 ">
        <span class="flex justify-end m-0 p-0"
          >Remember your password?</span
        >
        <a
          class="col-auto d-flex justify-content-start underline m-0 p-0"
          routerLink="/user/auth/log-in"
          >Log in!</a
        >
      </span>
    </form>
  </div>
</div>
