<div class="min-h-screen">
  <div class="sticky pt-14 top-0 nav z-10">
    <div class="p-3 gap-2 flex">
      <!-- profile picutre area -->
      <div class="flex w-full flex-col items-end gap-2">
        <img class="rounded-md" [src]="profilePicture" alt="" />
        <div
          class="flex w-full justify-start gap-2 profilePictureEditArea items-center"
          [style.cursor]="'pointer'"
          (click)="changeProfilePicture()"
        >
          <i class="fa-solid fa-pen-to-square d-flex text-xs"></i>
          <span class="text-xs">Edit picture</span>
      </div>
      </div>
    
      <!-- info area -->
      <span class="flex flex-col w-full ps-2 ">
        <span class="flex flex-col">
          <span class="text-base">Gokul</span>
          <span class="text-lg">Krishna</span>
        </span>
        <span class="flex gap-2">
          <span class="text-xs">Nationality</span>
          <span class="fi fi-in text-xs"></span>
        </span>
        <span class="flex gap-1">
          <span class="text-xs">25</span>
          <span class="text-xs">yrs</span>
        </span>
    
        <span class="flex mt-5">
          <span class="text-xs">Friends 0</span>
        <span class="text-xs">Posts 0</span>
        </span>
      </span>
    
      <!-- Edit profile -->
      <span class="flex justify-end w-full ">
        <button mat-stroked-button >Edit</button>
      </span>
  </div>
  <div class="flex p-1 border-b borderColor">
    <div class="w-full flex justify-center border-r borderColor">Posts</div>
    <div class="w-full flex justify-center border-r borderColor">Friends</div>
    <div class="w-full flex justify-center">Saved</div>
  </div>
  </div>
  <div class="p-6">
  <app-post></app-post>
    <router-outlet></router-outlet>

  </div>
</div>

<app-update-profile-picture
  *ngIf="addProfilePicture"
  (closeComponentStatusEvent)="closeComponent($event)"
></app-update-profile-picture>
