<div class="profileArea d-flex container justify-content-center">
  <!-- profile area -->
  <div class="row">
    <div class="imageArea col">
      <div class="row d-flex justify-content-end">
        <div class="col-7">
          <img class="img-fluid" [src]="profilePicture" alt="">
          <span class="d-flex items-center mt-2 gap-2 profilePictureEditArea" [style.cursor]="'pointer'"
            (click)="changeProfilePicture()">
            <i class="fa-solid fa-pen-to-square d-flex"></i>
            <span class="m-0">Add profile picture</span>
          </span>
        </div>
      </div>
    </div>
    <div class="textArea col d-flex flex-column justify-content-center gap-2">
      <span class="flex flex-column gap-2">
        <span class="fs-3 tracking-wider">Gokul</span>
        <span class="fs-2 font-medium tracking-wider">Krishna</span>
      </span>
      <span class="flex gap-4">
        <span class="flex gap-2">
          <span>Nationality</span>
          <span class="fi fi-in"></span>
        </span>
        <span class="flex gap-1">
          <span>25</span>
          <span>yrs</span>
        </span>
      </span>
    </div>
  </div>

  <app-update-profile-picture *ngIf="addProfilePicture" (closeComponentStatusEvent)="closeComponent($event)"></app-update-profile-picture>
</div>