$cricBlueTitle: rgb(9, 0, 63, 0.5);

.titleBar {
  background-color: rgb(4, 37, 85, 0.1);
  backdrop-filter: blur(10px);
}

.fillIcon {
  font-variation-settings: "FILL" 1, "wght" 400, "GRAD" 0, "opsz" 24;
}