$cricBlue: #1A2938;

.changeProfilePictureArea {
  height: 100%;
  width: 100vw;
  top: 0;
  left: 0;
  position: fixed;
}


mat-icon {
  width: auto;
  height: auto;
}

.selectedImageArea {
  background-color: $cricBlue;
}

.selectedImage {
  background-color: red;
}

.selectedImage {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover; /* Maintain aspect ratio and cover the square container */
}

.closeButton {
  background-color: $cricBlue !important;
}

.selectPicture {
  color: $cricBlue !important;
}

.croppedArea, .selectedArea {
  min-height: 300px;
}

.areas {
  display: flex !important;
  justify-content: center !important;
}

.submitProfilePictureButton {
  background-color: $cricBlue !important;
  color: white !important;
}

.buttonDisabled {
  background-color: #394755 !important;
  color: gray !important;
}