<div
class="changeProfilePictureArea bg-black/60  flex flex-column align-items-center justify-content-center"
>

<!-- profile picture  change card -->
<mat-card class="w-11/12 p-2 lg:w-6/12">

  <!-- close button -->
  <span class="flex justify-end">
    <button (click)="closeChangeProfilePicture()" mat-mini-fab class="closeButton"
      aria-label="Example icon button with a bookmark icon">
      <mat-icon>close</mat-icon>
    </button>
  </span>

  <!-- select picure -->
  <span class="selectPicture flex flex-column items-center mb-2"  [style.cursor]="'pointer'" (click)="clickInput()">
    <mat-icon class="text-4xl">add_photo_alternate</mat-icon>
    <span>Select new profile picture</span>
  </span>

  <!-- hidden input -->
  <input hidden type="file" #fileInput accept="image/*" (change)="onFileSelected($event)" />

  <!-- cropping area -->
  <div class="flex items-center justify-center gap-2">
    
    <!-- selected image -->
    <mat-card class="w-11/12  p-2 border selectedArea">
      <span class="text-stone-500 flex justify-center">Selected photo</span>
      <div class="max-w-10/12">
        <image-cropper [imageChangedEvent]="imageChangedEvent" [maintainAspectRatio]="true" [aspectRatio]="1 / 1"
          format="png" (imageCropped)="imageCropped($event)" (imageLoaded)="imageLoaded()"
          (cropperReady)="cropperReady()" (loadImageFailed)="loadImageFailed()"></image-cropper>
      </div>
    </mat-card>

    <mat-card class="w-11/12 border p-2 croppedArea">
      <span class="text-stone-500 flex justify-center mb-1">Cropped photo</span>
      <div class="max-w-10/12">
        <img [src]="croppedImage" />
      </div>
    </mat-card>
  </div>
  <button [disabled]="isSubmitDisabled" [ngClass]="{'buttonDisabled': isSubmitDisabled}" (click)="submitPicture()" mat-raised-button class="mt-2 submitProfilePictureButton">Update profile picture</button>

</mat-card>
</div>