<div class="mb-10 mt-3 pt-10">
    <span class="flex justify-center" *ngIf="spinner"><mat-spinner diameter="30" color="primary"></mat-spinner></span>
    <!-- card -->
    <mat-card class="text-black p-3 mb-6" *ngFor="let post of posts;">

        <!-- card-title -->
        <div class="flex gap-2">
            <span class="w-10">
            <img [src]="profilePicture" alt="" class="rounded-full">
            </span>
            <span class="">
                <span class="flex items-end gap-2">
                    <span class="md:text-base flex">{{name}}</span>
                    <span class="text-xs font-light md:font-normal md:text-base text-stone-500">2h ago</span>
                </span>
                <span>
                    <span class="text-sm font-light">@{{userName}}</span>
                </span>
            </span>
        </div>

        <!--  content -->
        <span class="py-2 text-sm font-normal break-words">
            {{post.content.text}}
            <!-- {{post | json}} -->
        </span>

        <!-- image -->
        <img *ngIf="post.content.multimedia[0]" [src]="post.content.multimedia[0]" alt="Post Image" class="rounded-md"
            (click)="selectedPost(post._id)">

        <!-- reactions -->
        <div class="md:p-3 pt-2 flex justify-between cursor">
            <!-- favourite -->
            <div class="gap-1 flex md:gap-3 justify-center items-center">
                <span class="text-lg material-symbols-rounded">
                    favorite
                </span>
                <span class="text-sm font-normal"></span>
            </div>

            <!-- comment -->
            <div class="gap-1 flex md:gap-3 justify-center items-center">
                <span class="text-lg material-symbols-rounded">
                    mode_comment
                </span>
                <span class="text-sm font-normal">2</span>
            </div>
            
            <!-- send -->
            <div class="gap-1 flex md:gap-3 justify-center items-center">
                <span class="text-lg material-symbols-rounded">
                    send
                </span>
                <span class="text-sm font-normal">01</span>
            </div>

             <!-- bookmark -->
             <div class="gap-1 flex md:gap-3 justify-center items-center">
                <span class="text-lg material-symbols-rounded">
                    bookmark
                </span>
                <span class="text-sm font-normal">01</span>
            </div>

             <!-- share -->
             <div class="gap-1 flex md:gap-3 justify-center items-center">
                <span class="text-lg material-symbols-rounded">
                    share
                </span>
                <span class="text-sm font-normal">01</span>
            </div>

        </div>
    </mat-card>

    <!-- fetch posts -->
    <span *ngIf="posts[0] && !fetchingPosts && !postsEnd"
        class="flex flex-col gap-1 text-base justify-center items-center p-3 cursor-pointer flex-column mt-2 text-4xl border-t cursor fetchPosts" (click)="loadMore()">
        <span class="text-lg material-symbols-rounded">
            add_circle
        </span>
        <span class="">load more</span>
    </span>
    <span *ngIf="fetchingPosts" class="flex justify-center items-center flex-col mt-2 cursor gap-2"
        (click)="loadMore()">
        <mat-spinner diameter="30" color="primary"></mat-spinner>
        <span class="text-xs">loading more posts</span>
    </span>
    <span *ngIf="postsEnd" class="flex justify-center items-center flex-column mt-2 text-4xl cursor gap-2">
        <span class="text-xs">No more posts</span>
    </span>
</div>
<app-i-post *ngIf="this.posti"></app-i-post>