<div class="tweet">
  <div class="d-flex align-items-center">
      <img src="https://pbs.twimg.com/profile_images/1498070100393754625/C2V-fbll_400x400.jpg" alt="Profile Image" class="profile-image mr-3">
      <div class="">
          <div class="username">John Doe</div>
          <div class="timestamp">2h ago</div>
      </div>
  </div>
  <div class="content">
      Just had a great time hiking in the mountains! 🏞️ #nature #hiking
  </div>
  <img src="https://pbs.twimg.com/media/F4B2GszXcAAOWNh?format=jpg&name=medium" alt="Post Image" class="post-image">
  <div class="interaction-icons p-3">
      <div class="comment fs-5 d-flex gap-2"><i class="fa-regular fa-comment"></i> 15</div>
      <div class="comment fs-5 d-flex gap-2"><i class="fa-regular fa-heart"></i> 15</div>
      <div class="comment fs-5 d-flex gap-2"><i class="fa-regular fa-bookmark"></i>15</div>
      <div class="comment fs-5 d-flex gap-2"><i class="fa-solid fa-up-right-from-square"></i></div>
  </div>
</div>
