<div class="d-flex flex-column gap-1">
    <span class="d-flex justify-content-center" *ngIf="spinner"><mat-spinner diameter="30"
            color="primary"></mat-spinner></span>
    <mat-card class="text-black p-1" *ngFor="let post of posts">
        <div class="d-flex align-items-center row-fluid">
            <img [src]="profilePicture" alt="Profile Image" class="col-1 bg-info">
            <div class="">
                <div class="text-xs">{{name}}</div>
                <div class="text-xs">2h ago</div>
            </div>
        </div>
        <div class="text-xs">
            {{post.content.text}},
        </div>
        <img src="https://pbs.twimg.com/media/F4B2GszXcAAOWNh?format=jpg&name=medium" alt="Post Image"
            class="-">
        <div class="interaction-icons p-3">
            <div class="comment text-xs d-flex gap-2"><i class="fa-regular fa-heart"></i> 15</div>
            <div class="comment text-xs d-flex gap-2"><i class="fa-regular fa-comment"></i> 15</div>
            <div class="comment text-xs d-flex gap-2"><i class="fa-regular fa-bookmark"></i>15</div>
            <div class="comment text-xs d-flex gap-2"><i class="fa-solid fa-up-right-from-square"></i></div>
        </div>
    </mat-card>
</div>