<div class="pt-32 loginArea flex flex-col items-center gap-4 h-screen">
    <div class="flex flex-col items-center gap-10 w-10/12 md:w-5/12 lg:w-3/12">
      <!-- logo -->
      <img class="img-fluid w-28 md:w-44" src="https://goadlercric.s3.ap-south-1.amazonaws.com/Logos/NameAndLogo+(1).png"
        alt="">
  
      <!-- login area -->
      <div class="w-full">
        <!-- login title -->
        <div class="flex justify-center text-xl mb-3">
          <span>Log in to continue</span>
        </div>
  
        <!-- form -->
        <form [formGroup]="logInForm" (ngSubmit)="onSubmit()" class="flex flex-col gap-1">
          <div *ngIf="errorMessage" class="w-100 flex justify-center gap-2 errorMessage fs-6 mb-1">
            <span>{{errorMessage}}.</span><a routerLink="/auth/sign-up" class="logIn"> Sign up?</a> </div>
          <div *ngIf="wrongPassword" class="w-100 flex justify-center gap-2 errorMessage fs-6 mb-1">
            <span>{{wrongPassword}}.</span><a routerLink="/auth/forgot-password" class="logIn"> Forgot password?</a>
          </div>
  
          <!-- Email -->
          <div class="row d-flex justify-content-center">
            <div class="col-8 col-xl-4 d-flex flex-column p-0">
              <p class="m-0">
                <mat-form-field appearance="fill" class="" hideRequiredMarker="true">
                  <mat-label>Email</mat-label>
                  <input matInput formControlName="email">
                  <mat-error
                    *ngIf="(logInForm.get('email')?.invalid && (logInForm.get('email')?.dirty || logInForm.get('email')?.touched)) && (logInForm.get('email')?.errors?.['required'])"
                    class="p-0">Email cannot be empty</mat-error>
                  <mat-error
                    *ngIf="(logInForm.get('email')?.invalid && (logInForm.get('email')?.dirty || logInForm.get('email')?.touched)) && (logInForm.get('email')?.errors?.['pattern'])">Please
                    input email in the correct format</mat-error>
                </mat-form-field>
              </p>
            </div>
          </div>
  
          <!-- Password -->
          <div class="">
            <div class="flex justify-end flex-col items-end">
              <mat-form-field hideRequiredMarker="true">
                <mat-label>Password</mat-label>
                <input matInput [type]="hide ? 'password' : 'text'" formControlName="password">
                <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                  [attr.aria-pressed]="hide">
                  <mat-icon class="text-stone-400 mr-4">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
                <mat-error
                  *ngIf="(logInForm.get('password')?.invalid && (logInForm.get('password')?.dirty || logInForm.get('password')?.touched)) && (logInForm.get('password')?.errors?.['required'])"
                  class="p-0">Password cannot be empty</mat-error>
                <mat-error
                  *ngIf="(logInForm.get('password')?.invalid && (logInForm.get('password')?.dirty || logInForm.get('password')?.touched)) && (logInForm.get('password')?.errors?.['pattern'])">The
                  password not in the correct format.</mat-error>
              </mat-form-field>
              <a routerLink="/auth/forgot-password" class="underline forgotPassword">Forgot password?</a>
            </div>
          </div>
  
          <!-- Submit -->
          <div class="row d-flex justify-content-center">
            <div class="col-8 col-xl-4 p-0">
              <button mat-raised-button type="submit" [disabled]="!logInForm.valid"
                [ngStyle]="{'opacity': (!logInForm.valid) ? '0.5' : '1'}"> {{ isLogging ? 'Logging In' : 'Log In'
                }}</button>
                <mat-progress-bar *ngIf="isLogging" mode="indeterminate"></mat-progress-bar>

            </div>
          </div>
  
          <span class="mt-2 text-xs md:text-sm md:mt-3 flex justify-center gap-1">
            <span class="col-auto d-flex justify-content-end m-0 p-0">Don't have an account?</span>
            <a class="underline" routerLink="/auth/sign-up">Sign up!</a>
          </span>
        </form>
      </div>
    </div>
  </div>