<div class="newPostArea pt-4 flex gap-4">
    <div class="w-10">
      <img [src]="profilePicture" alt="Profile Image"
      class="rounded-full">
    </div>
    <form [formGroup]="postForm" (ngSubmit)="onSubmit()" class="w-full flex flex-col gap-2">
      <div class="">
        <textarea formControlName="text" name="" id="" class="rounded-lg w-full p-2 text-black" rows="3" placeholder="What is happening?"></textarea>
        <mat-error *ngIf="postForm.get('text')?.invalid && (postForm.get('text')?.dirty || postForm.get('text')?.touched && postForm.get('text')?.errors?.['maxlength'])">Maximum 100 characters are allowed</mat-error>
      </div>
      <img *ngIf="selectedImage" [src]="selectedImage" alt="Selected Image" class="w-2/4 rounded-md" />
      <input type="file" formControlName="image" (change)="onImageSelected($event)" accept="image/*" class="hidden" #fileInput>
      <div class="flex justify-between items-end">
        <span class="material-symbols-rounded cursor-pointer" (click)="fileInput.click()">
          image
          </span>
        <button type="submit" mat-raised-button class="postButton">{{isPosting ? 'Posting...' : 'Post'}}</button>
      </div>
    </form>
</div>