<div class="newPostArea d-flex align-items-start pt-5 py-3">
  <div class="d-flex align-items-center">
    <img [src]="profilePicture" alt="Profile Image"
      class="profile-image mr-3">
  </div>
  <div class="d-flex flex-column gap-2 w-100">
    <form [formGroup]="postForm" (ngSubmit)="onSubmit()" class="d-flex flex-column gap-3">
      <div class="">
        <textarea formControlName="text" name="" id="" class="form-control" rows="3" placeholder="What is happening?"></textarea>
        <mat-error *ngIf="postForm.get('text')?.invalid && (postForm.get('text')?.dirty || postForm.get('text')?.touched && postForm.get('text')?.errors?.['maxlength'])">Maximum 100 characters are allowed</mat-error>
      </div>
      <div class="d-flex justify-content-between imagePostArea">
        <mat-icon class="cursor">image</mat-icon>
        <button *ngIf="!postSuccess" type="submit" mat-button class="postButton">{{isPosting ? 'Posting...' : 'Post'}}</button>
        <button *ngIf="postSuccess" type="submit" mat-button class="postSuccessButton">Post success <i class="fa-solid fa-check"></i></button>
      </div>
    </form>
  </div>
</div>