$cricBlue: #1A2938;

.newPostArea {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.profile-image {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

.imagePostArea {
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}

.postButton {
  background-color: $cricBlue;
  color: white !important;
}

.postSuccessButton {
  background-color: rgb(8, 92, 8);
  color: white !important;
}