<div class="errorArea container d-flex justify-content-center align-items-center flex-column gap-3">
  <div class="row d-flex flex-column justify-content-center align-items-center">
    <img class="col-10 img-fluid" src="https://goadlercric.s3.ap-south-1.amazonaws.com/Logos/error.png" alt="">
    <div class="col d-flex flex-column justify-content-center align-items-center gap-3">
      <span class="fs-5">Something went wrong</span>
      <button mat-raised-button  routerLink="/user/home">Go to home</button></div>
  </div>
</div>
