$cricBlue: rgba(0, 0, 0, 0.8);
$cricBlue: rgb(26, 41, 56, 0.7);
$selectedTab:  rgba(24, 34, 44, 0.9);
$profilePill:  rgba(12, 21, 31, 0.9);



.sideItem {
  font-family: 'Poppins', sans-serif;
}

.sideItemArea:hover {
  background-color:  $selectedTab;

}

.selectedSideItem {
  background-color: $selectedTab;

}

section {
  border-color: rgb(255, 255, 255, 0.1);
}

.profilePill {
  background-color: $profilePill;
}

.logOutButton {
  background-color: $profilePill !important;
  color: white !important;
}

.logOutButton:hover {
  background-color: $selectedTab !important;
}

.fillIcon {
    font-variation-settings:
    'FILL' 1,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24,
}

.notificationCount {
  color: rgb(26, 41, 56);
}