$cricBlue: rgba(73, 30, 5);

nav {
  background: $cricBlue;
  backdrop-filter: blur(10px); 
  color: white;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000; 
}


.profilePicture {
  border-radius: 50%;
}

a {
  color: inherit;
}
