<div class="min-h-screen">
  <div class="sticky top-14 nav z-10">
    <div class="p-5 gap-4 flex" *ngIf="fetchingData">
      <!-- profile picutre area -->
      <div class="flex w-4/12 flex-col items-end gap-2">
        <img class="rounded-md" [src]="profilePicture" alt="" />
      </div>

      <!-- info area -->
      <span class="flex justify-between w-full">
        <!-- left -->
        <div class="w-full">
          <div class="text-sm">{{ name }}</div>
          <div class="text-xs text-stone-400">{{ "@" }}{{ userName }}</div>

          <span class="flex mt-5">
            <span class="text-xs">Friends {{ friendsCount }}</span>
          </span>
        </div>

        <!-- right -->
        <div class="flex w-full justify-end">
          <!-- Stranger -->
          <button
            *ngIf="friendStatus === 'stranger'"
            (click)="addFriend()"
            mat-stroked-button
            color="warn"
            class="md:flex addFriendButton p-2"
          >
            <div class="flex items-center gap-1">
              <div class="hidden md:block">Add Friend</div>
              <span class="material-symbols-rounded text-xl"> person_add </span>
            </div>
          </button>

          <!-- Request sent -->
          <button
            *ngIf="friendStatus === 'requestSent'"
            (click)="addFriend()"
            mat-stroked-button
            color="warn"
            class="md:flex addFriendButton p-2"
          >
            <div class="flex items-center gap-1">
              <div class="hidden md:block">Request Sent</div>
              <span class="material-symbols-rounded text-xl text-orange-400">
                pending
              </span>
            </div>
          </button>

          <!-- Request received-->
          <div
            *ngIf="friendStatus === 'requestReceived'"
            class="flex flex-col gap-4 w-10/12"
          >
            <button
              disabled
              mat-stroked-button
              color="warn"
              class="md:flex addFriendButton p-2"
            >
              <div class="flex items-center gap-1">
                <div class="hidden md:block text-xs">Requested</div>
                <span class="material-symbols-rounded text-base">
                  call_received
                </span>
              </div>
            </button>
            <div class="flex gap-4">
              <button mat-stroked-button class="p-2" (click)="acceptRequest()">
                <div class="flex items-center justify-center gap-2 p-2">
                  <div class="text-xs">Accept</div>
                  <span class="material-symbols-rounded text-base text-green-400">
                    check_circle
                  </span>
                </div>
              </button>

              <button mat-stroked-button class="p-2" (click)="rejectRequest()">
                <div class="flex items-center justify-center gap-2 p-2">
                  <div class="text-xs">Reject</div>
                  <span class="material-symbols-rounded text-base text-red-400">
                    cancel
                  </span>
                </div>
              </button>
            </div>
          </div>

          <!-- Friend -->
          <button
            *ngIf="friendStatus === 'friend'"
            (click)="addFriend()"
            mat-stroked-button
            color="warn"
            class="md:flex addFriendButton p-2"
          >
            <div class="flex items-center gap-1">
              <div class="hidden md:block">Friends</div>
              <span class="material-symbols-rounded text-xl text-blue-400">
                person_check
              </span>
            </div>
          </button>
        </div>
      </span>
    </div>
    <div class="p-5 gap-2 flex justify-center items-end" *ngIf="!fetchingData">
      <mat-spinner></mat-spinner>
    </div>

    <div class="flex p-1 border-b borderColor">
      <div
        routerLink="posts"
        class="w-full flex justify-center border-r borderColor cursor-pointer"
      >
        Posts
      </div>
      <div
        routerLink="friends"
        class="w-full flex justify-center border-r borderColor cursor-pointer"
      >
        Friends
      </div>
      <div routerLink="saved" class="w-full flex justify-center cursor-pointer">
        Saved
      </div>
    </div>
  </div>
  <div *ngIf="fetchingData">
    <router-outlet></router-outlet>
  </div>
</div>
