$cricBlue: rgb(26, 41, 56, 0.8);

.profilePictureEditArea:hover {
  color: rgb(46, 61, 189);
}

[mat-stroked-button] {
  color: white !important;
  border-color: white !important;
}


.nav {
  backdrop-filter: blur(20px); 
  color: white;
  border-color: rgb(255, 255, 255, 0.1);
  
}

.borderColor {
  border-color: rgb(255, 255, 255, 0.1) ;
}

.addFriend {
  background-color: pink !important;
}

.hiddeN {
  display: none;
}

.fillIcon {
  font-variation-settings: "FILL" 1, "wght" 400, "GRAD" 0, "opsz" 24;
}