<div class="min-h-screen">
  <div class="sticky top-14 nav z-10">
    <div class="p-5 gap-4 flex" *ngIf="fetchingData">
      <!-- profile picutre area -->
      <div class="flex w-4/12 flex-col items-end gap-2">
        <img class="rounded-md" [src]="profilePicture" alt="" />
      </div>

      <!-- info area -->
      <span class="flex justify-between w-full">
        <!-- left -->
        <div class="w-full">
          <div class="text-sm">{{ name }}</div>
          <div class="text-xs text-stone-400">{{ "@" }}{{ userName }}</div>
  
          <span class="flex mt-5">
            <span class="text-xs">Friends {{ friendsCount }}</span>
          </span>
        </div>

        <!-- right -->
        <div class="flex w-full justify-end">
          <button
          mat-stroked-button
          color="warn"
          class="md:flex addFriendButton p-2"
        >
          <div class="flex items-center gap-1">
            <span class="material-symbols-rounded text-xl"> person_add </span>
            <div class="hidden md:block ">Add Friend</div>
          </div>
        </button>
        </div>
      </span>

    </div>
    <div class="p-5 gap-2 flex justify-center items-end" *ngIf="!fetchingData">
      <mat-spinner></mat-spinner>
    </div>

    <div class="flex p-1 border-b borderColor">
      <div
        routerLink="posts"
        class="w-full flex justify-center border-r borderColor cursor-pointer"
      >
        Posts
      </div>
      <div
        routerLink="friends"
        class="w-full flex justify-center border-r borderColor cursor-pointer"
      >
        Friends
      </div>
      <div routerLink="saved" class="w-full flex justify-center cursor-pointer">
        Saved
      </div>
    </div>
  </div>
  <div *ngIf="fetchingData">
    <router-outlet></router-outlet>
  </div>
</div>
