<div class="bg-warning top-0 sticky h-screen flex">
  <div class="bg-danger h-full w-full">part1</div>
  <div class="bg-info h-full w-full mt-12">
    <div class="bg-green-500">
      <div class="flex justify-center p-2">
        <span class="material-symbols-rounded text-3xl">
          home
          </span>
    
      </div>
      <div class="flex justify-center p-2">
        <span class="material-symbols-rounded text-3xl">
          sports_cricket
          </span>
    
      </div>
      <div class="flex justify-center p-2">
        <span class="material-symbols-rounded text-3xl">
          notifications
          </span>
    
      </div>
      <div class="flex justify-center p-2">
        <span class="material-symbols-rounded text-3xl">
          forum
          </span>
    
      </div>
      <div class="flex justify-center p-2">
        <span class="material-symbols-rounded text-3xl">
          bookmark
          </span>
    
      </div>
      <div class="flex justify-center p-2">
        <span class="material-symbols-rounded text-3xl">
          person
          </span>
    
      </div>
      <div class="flex justify-center p-2">
        <span class="material-symbols-rounded text-3xl">
          group
          </span>
    
      </div>
    </div>
  </div>
</div>