$cricBlue: rgba(0, 0, 0, 0.8);
$cricBlue: rgb(26, 41, 56, 0.7);

.main {
  background-color: $cricBlue;
  backdrop-filter: blur(10px); 
  border-color: rgb(255, 255, 255, 0.1);
}

.sideItem {
  font-family: 'Poppins', sans-serif;
}

.sideItemArea {
  background-color:  rgb(26, 41, 56, 0.9);

}