$cricBlue: rgba(0, 0, 0, 0.8);
$cricBlue: rgb(26, 41, 56, 0.7);

nav {
  background: $cricBlue;
  backdrop-filter: blur(10px); 
  color: white;
  z-index: 1000; 
  border-color: rgb(255, 255, 255, 0.1);
  
}

a {
  color: inherit;
}
