<div class="container mt-5 pt-5 h-screen">
  <h2>User List</h2>
  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Status</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users; let i = index">
        <td>{{user.name}}</td>
        <td>{{user.email}}</td>
        <td><span class="badge badge-secondary">{{user.isBlocked ? 'Blocked' : 'Active'}}</span></td>
        <td>
          <button (click)="toggleUserBlock(user.isBlocked, user._id, i)" class="btn btn-success btn-sm" [ngClass]="{'blocked': user.isBlocked, 'ublocked': !user.isBlocked}">{{user.isBlocked? 'Unblock': 'Block'}}</button>
        </td>
      </tr>
      <!-- Add more user rows as needed -->
    </tbody>
  </table>
</div>