<div class="bg-danger rounded-md border scoreCard">
  <!-- title -->
  <div class="titleArea p-2 rounded h-12 flex items-center">
    Asia cup 2023
  </div>

  <!-- match info -->
  <div class="p-3 flex flex-col gap-2">
    <div class="text-sm font-normal">Final, R. Premadasa stadium, Colombo</div>

    <!-- team 1 -->
    <span class="flex gap-2 flex text-sm items-center">
      <span class="fi fi-in text-2xl"></span>
      <span>IND</span>
      <div>
        <span>51/</span>
        <span>0</span>
      </div>
      <span class="font-normal text-xs">6.1</span>
    </span>

    <!-- team 2 -->
    <span class="flex gap-2 flex text-sm items-center">
      <span class="fi fi-lk text-2xl"></span>
      <span>SL</span>
      <div>
        <span>50/</span>
        <span>10</span>
      </div>
      <span class="font-normal text-xs">15.2</span>
    </span>
  </div>
</div>