<div class="flex flex-col items-center h-screen">
  <div class=" w-11/12 md:w-6/12 lg:w-3/12">
    <!-- logo -->
    <div class=" flex justify-center mt-5">
      <img class="img-fluid w-20 md:w-44"
        src="https://goadlercric.s3.ap-south-1.amazonaws.com/Logos/NameAndLogo+(1).png" alt="">
    </div>

    <!-- before otp submit -->
    <div class="flex flex-col mt-40" *ngIf="!verified">
      <div class="row d-flex justify-content-center mb-4">
        <div class="col-8 col-xl-6 flex justify-center fw-medium"><span class="text-lg">Enter OTP to
            continue</span>
        </div>
      </div>
      <form action="" [formGroup]="OTP_Form" (ngSubmit)="onSubmit()"
        class="d-flex container flex-column items-center gap-2">

        <!-- OTP -->
        <div class="row  d-flex justify-content-center w-full">
          <div class="col-10 col-xl-6 d-flex flex-column p-0 ">
            <div *ngIf="otpResent" class="flex text-green-500 items-center gap-1 justify-center">
              OTP resent successfully <span class="flex items-start mb-1"><mat-icon class="text-lg">check_circle_outline</mat-icon></span>
            </div>
            <p class="m-0">
              <mat-form-field appearance="fill" hideRequiredMarker="true">
                <mat-label>OTP</mat-label>
                <input matInput formControlName="OTP" type="number" (input)="onInput()">
              </mat-form-field>
              <ng-container>
               <mat-error
               *ngIf="(OTP_Form.get('OTP')?.dirty || OTP_Form.get('OTP')?.touched) && OTP_Form.get('OTP')?.errors?.['required']"
               class="p-0">OTP cannot be empty</mat-error>
             <mat-error
               *ngIf="(OTP_Form.get('OTP')?.errors?.['pattern'])">Please
               input OTP in the correct format</mat-error>
             <mat-error *ngIf="otpInvalid">Wrong otp try again</mat-error>
              </ng-container>
            </p>
            <span class="flex justify-end mb-2 gap-2"><button class="underline" type="button" [disabled]="!isResendEnabled" (click)="resendOtp()" [ngClass]="{'disabledButton': !isResendEnabled, 'underline': !isResendEnabled }"><span class="underline">Resend otp?</span></button><span class="" *ngIf="!isResendEnabled">({{ formatTime(timerValue) }})</span></span>

          </div>
        </div>


        <!-- Submit -->
        <div class="row d-flex justify-content-center w-full">
          <div class="col-10 col-xl-6 p-0">
            <button mat-raised-button w-100 type="submit" [disabled]="!OTP_Form.valid"
              [ngStyle]="{'opacity': (!OTP_Form.valid) ? '0.5' : '1'}">Continue</button>
              <mat-progress-bar *ngIf="verifying" mode="indeterminate"></mat-progress-bar>
          </div>
        </div>
      </form>
    </div>

    <!-- after submit -->
    <div *ngIf="verified" class="flex flex-col mt-40 items-center text-lg">
      <div class="flex flex-col gap-4 items-center  w-full">
        <span class="flex justify-center gap-2 items-center">Verification success <i
            class="fa-regular fa-thumbs-up"></i></span>
        <div class="w-full">
          <button mat-raised-button class="w-full" routerLink="/user/home" (click)="verifying = true">Continue</button>
          <mat-progress-bar *ngIf="verifying" mode="indeterminate"></mat-progress-bar>
        </div>
        
      </div>
    </div>
  </div>
</div>