$cricBlueTitle: rgb(9, 0, 63, 0.5);
$cricBlue: #1A2938;


.titleBarChat {
  background-color: rgb(4, 37, 85, 0.1) !important;
  backdrop-filter: blur(10px);
}

.fillIcon {
  font-variation-settings: "FILL" 1, "wght" 400, "GRAD" 0, "opsz" 24;
}

.chatArea {
  scrollbar-width: none !important;
  scrollbar-width: thin !important;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgb(61, 62, 75);

}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(46, 47, 63);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.sendButton {
  background-color: $cricBlue;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  padding: 20px;
}

.chat-container {
  max-width: 400px;
  margin: 20px auto;
}

.chat-bubble {
  max-width: 80%;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 15px;
  clear: both;
}

.user-bubble {
  background-color: #dcf8c6; /* Light green for user */
}

.recipient-bubble {
  background-color: #ffffff; /* White for recipient */
}

.chat-container {
  display: flex;
  flex-direction: column;
  max-width: 300px;
  margin: 20px;
}
.chat-bubble {
  padding: 10px 15px;
  border-radius: 20px;
  margin: 5px;
  position: relative;
  display: inline-block;
}
.incoming {
  background-color: #e5e5ea;
  align-self: flex-start;
}
.incoming:after {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  left: -5px;
  top: 10px;
  border: 10px solid;
  border-color: transparent transparent transparent #e5e5ea;
}
.outgoing {
  background-color: #daf8cb;
  align-self: flex-end;
}
.outgoing:after {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  right: -5px;
  top: 10px;
  border: 10px solid;
  border-color: transparent #daf8cb transparent transparent;
}