<div class="h-screen flex flex-col justify-between">
  <div class="titleBarChat sticky top-0 h-16 p-3">
    <div *ngIf="!isFetching"  class="flex gap-2">
      <div class="w-1/12">
        <img [src]="profilePicture" alt="" class="rounded-lg" />
      </div>
      <div class="flex flex-col gap-1">
        <div class="flex gap-1 items-center">
          <div class="text-xs">{{ name }}</div>
          <span
            *ngIf="isOnline"
            class="material-symbols-rounded text-xs fillIcon text-green-600"
          >
            circle
          </span>
        </div>
        <div class="text-xs text-stone-500">{{ "@" }}{{ userName }}</div>
      </div>
    </div>
    <div *ngIf="isFetching" class="flex items-center justify-center">
      <mat-spinner diameter="40"></mat-spinner>
    </div>
  
  </div>
  <div *ngIf="isFetchingChats" class="flex p-2 justify-center">
    <mat-spinner diameter="40"></mat-spinner>
  </div>

  <div class="flex overflow-hidden flex-col justify-between">
    <div #chatArea class="overflow-auto chatArea">
      <div *ngFor="let chat of messages" [ngClass]="{ 'justify-end': chat.sendByUser, 'justify-start': !chat.sendByUser}" class="p-2 w-full flex">
        <div [ngClass]="{ 'bg-gray-600': chat.sendByUser, 'bg-gray-400': !chat.sendByUser}" class=" text-slate-200 rounded-lg p-3">
          {{ chat.message }}
        </div>
      </div>
    </div>
    <div class="h-20 mb-16 md:mb-1">
      <form [formGroup]="chatForm" (ngSubmit)="onSubmit()">
        <div class="flex items-start gap-2 p-2">
          <mat-form-field appearance="fill" class="w-full">
            <input matInput placeholder="Message..." formControlName="message"/>
            <mat-error
            *ngIf="(chatForm.get('message')?.invalid && (chatForm.get('message')?.dirty || chatForm.get('message')?.touched)) && (chatForm.get('message')?.errors?.['required'])"
            class="p-0">Message cannot be empty</mat-error>
            <mat-error
            *ngIf="(chatForm.get('message')?.invalid && (chatForm.get('message')?.dirty || chatForm.get('message')?.touched)) && (chatForm.get('message')?.errors?.['pattern'])">Please
            input message in the correct format</mat-error>
          </mat-form-field>
          <button type="submit" mat-fab class="flex items-center sendButton" [disabled]="!chatForm.valid">
            <div class="flex items-center justify-center pl-1">
              <span class="material-symbols-rounded"> send </span>
            </div>
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
