$cricBlueTitle: rgb(9, 0, 63, 0.5);
$cricBlue: #1A2938;


.titleBarChat {
  background-color: rgb(4, 37, 85, 0.1) !important;
  backdrop-filter: blur(10px);
}

.fillIcon {
  font-variation-settings: "FILL" 1, "wght" 400, "GRAD" 0, "opsz" 24;
}

.chatArea {
  scrollbar-width: none !important;
  scrollbar-width: thin !important;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgb(61, 62, 75);

}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(46, 47, 63);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.sendButton {
  background-color: $cricBlue;
}

.sendButton:disabled {
  color: rgb(102, 102, 102);
}
